.feedback {
    background-color: #e1f0f3;
    margin-bottom: 30px;
    height: 80vh;
}

.feedback_section {
    height: 60vh;
    width: 100%;
    @include headerBg('../../images/bg1.jpg');
    background-color: rgb(16 15 15);
    margin-bottom: 30px;
    position: relative;
}

.feedback_container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback_video_content {
    height: 100%;
    width: 500px;
    @include displayFlex;

    &_box {
        width: 400px;
        height: 300px;

        & h1 {
            margin-top: 25px;
            color: $white;
            line-height: 60px;
            font-size: 40px;
        }
    }

}

.feedback_comment_content {
    height: 100%;
    width: 600px;
    position: relative;
    @include displayFlex;

    &_box {
        width: 450px;
        height: 480px;
        background-color: $dark_white;
        position: absolute;
        top: 76px;
        padding: 50px;

        & span {
            font-size: 12px;
            letter-spacing: 6px;
        }

        & h2 {
            margin: 22px 0px;
            font-size: 32px;
        }
    }
}

.feedback_video {
    &_outer {
        width: 100px;
        height: 100px;
        border: 8px solid rgba(228, 228, 228, 0.4);
        border-radius: 50%;
        position: relative;
    }

    &_inner {
        width: 85px;
        height: 86px;
        background-color: $white;
        border-radius: 50%;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include displayFlex;

        &_icon {
            font-size: 40px;
            color: $dark_white;
        }
    }
}

.process_bar {
    width: 400px;
    height: 100px;
    margin-left: 160px;
    @include displayFlex;
    gap: 100px;

    &_circle {
        width: 90px;
        height: 90px;
    }
}

.process_bar_circle {
    position: relative;
    margin: 0px 23px;
}

.process_info {
    position: absolute;
    top: 14px;
    left: 93px;
    margin: 0px 22px;
    line-height: 33px;

    & p:nth-child(1) {
        font-size: 12px;
        color: $gray;
    }
}

@media (max-width:1200px) {
    .feedback_container {
        width: 100%;
    }

    .slide_container_img_info {
        width: 180px;
        height: 80px;
        margin-right: -13px;
        line-height: 30px;
    }

    .feedback_video_content_box {
        display: flex;
        flex-direction: column;
        width: 300px;

        h1 {
            margin-top: 25px;
            color: white;
            line-height: 60px;
            font-size: 30px;
        }
    }
}

@media (max-width:992px) {
    .feedback_container {
        width: 100%;
        display: flex;
    }

    .feedback_comment_content_box {
        width: 400px;
        height: 384px;
        background-color: #dbd7d7;
        position: initial;
        padding: 50px;
    }

    .slide_container_img_info {
        width: 180px;
        height: 80px;
        margin-right: -13px;
        line-height: 30px;
    }

    .feedback_video_content_box {
        display: flex;
        flex-direction: column;
        width: 300px;

        h1 {
            margin-top: 25px;
            color: white;
            line-height: 60px;
            font-size: 30px;
        }
    }
}

@media (max-width:768px) {
    .feedback_container {
        width: 100%;
        display: flex;
    }

    .feedback_comment_content_box {
        width: 300px;
        height: 384px;
        background-color: #dbd7d7;
        position: initial;
        padding: 5px;
    }

    .slide_container_img_info {
        width: 180px;
        height: 80px;
        margin-right: -13px;
        line-height: 30px;
    }

    .feedback_video_content_box {
        display: flex;
        flex-direction: column;
        width: 300px;

        h1 {
            margin-top: 25px;
            color: white;
            line-height: 60px;
            font-size: 30px;
        }
    }
}

@media (max-width:576px) {

    .header {
        width: 100%;
    }

    .feedback {
        background-color: #e1f0f3;
        margin-bottom: 30px;
        height: auto;
    }

    .feedback_section {
        height: auto;
        width: 100%;
        @include headerBg('../../images/bg1.jpg');
        background-color: rgb(16 15 15);
        margin-bottom: 30px;
        position: relative;
    }

    .feedback_container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .feedback_video_content {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .feedback_comment_content {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .feedback_comment_content_box {
        width: 300px;
        height: 284px;
        background-color: #dbd7d7;
        position: initial;
        padding: 5px;
    }

    .slide {
        display: inline-block;
        width: 100%;
        height: 153px;
    }

    .slide_container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // flex-direction: column;
    }

    .slide_container_info {
        width: 95%;
        height: 64px;
    }

    .slide_container_img_info {
        width: 180px;
        height: 80px;

        line-height: 30px;
    }

    .feedback_video_content_box {
        display: flex;
        flex-direction: column;
        width: 300px;
        justify-content: center;
        align-items: center;

        h1 {
            margin-top: 25px;
            color: white;
            line-height: 60px;
            font-size: 23px;
        }
    }

    .feedback_video_outer {
        width: 80px;
        height: 80px;
        border: 8px solid rgba(228, 228, 228, 0.4);
        border-radius: 50%;
        position: relative;
    }

    .feedback_video_inner {
        width: 70px;
        height: 70px;
        background-color: white;
        border-radius: 50%;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .process_bar {
        width: 300px;
        height: 170px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;

        &_circle {
            width: 77px;
            height: 77px;
        }
    }

    .process_info {

        position: initial;
        margin: 14px -21px;
        line-height: 18px;
        top: 0;
        left: 0;

    }
}